<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body { font-family: Arial; text-align: center; }
        a { padding: 10px; background: #007BFF; color: white; text-decoration: none; margin: 10px; }
        a:hover { background: #0056b3; }
    </style>
</head>
<body>
    <h1>Avatar: The Way of Water</h1>
    <h3>опис:</h3>
    <p>Продовження "Аватара", де Джейк і Нейтірі захищають свою сім’ю від нової</p>
    <p>загрози на Пандорі. Фільм фокусується на підводному світі та клані Меткайна,</p>
    <p>вражаючи візуальними ефектами та новими технологіями зйомки.</p>
    <p></p>
    <a href="{{ url_for('home') }}">home</a>
</body>
</html>