<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body { font-family: Arial; text-align: center; }
        a { padding: 10px; background: #007BFF; color: white; text-decoration: none; margin: 10px; }
        a:hover { background: #0056b3; }
    </style>
</head>
<body>
    <h1>Avengers: Endgame</h1>
    <h3>опис:</h3>
    <p>Завершення саги "Месники" у MCU. Після знищення половини населення</p>
    <p>Таносом герої, включно з Тоні Старком і Капітаном Америкою, об’єднуються для</p>
    <p>подорожі в часі, щоб повернути втрачене. Фільм славиться емоційними моментами та</p>
    <p>масштабними битвами.</p>
    <p></p>
    <a href="{{ url_for('home') }}">home</a>
</body>
</html>