<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>film</title>
    <style>
        body { font-family: Arial; text-align: center; }
        a { padding: 10px; background: #007BFF; color: white; text-decoration: none; margin: 10px; }
        a:hover { background: #0056b3; }
    </style>
</head>
<body>
    <h1>Star Wars: The Force Awakens</h1>
    <h3>опис:</h3>
    <p>Повернення франшизи "Зоряні війни" з новими героями (Рей, Фінн, По) та</p>
    <p>поверненням класичних персонажів, як Хан Соло. Фільм розповідає про боротьбу</p>
    <p>Опору проти Першого Ордену, поєднуючи ностальгію з новою історією.</p>
    <p></p>
    <a href="{{ url_for('home') }}">home</a>
</body>
</html>