<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ film.title }}</title>
    <style>
        body { font-family: Arial; text-align: center; }
        h1 { margin-top: 20px; }
        p { max-width: 600px; margin: 20px auto; }
        a { padding: 10px 20px; background: #007BFF; color: white; text-decoration: none; border-radius: 5px; }
        a:hover { background: #0056b3; }
    </style>
</head>
<body>
    <h1>{{ film.title }}</h1>
    <h3>Опис:</h3>
    <p>{{ film.description }}</p>
    <a href="{{ url_for('home') }}">На головну</a>
</body>
</html>