<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body { font-family: Arial; text-align: center; }
        a { padding: 10px; background: #007BFF; color: white; text-decoration: none; margin: 10px; }
        a:hover { background: #0056b3; }
    </style>
</head>
<body>
    <h1>Avatar</h1>
    <h3>опис:</h3>
    <p>Епічна історія про Джейка Саллі, паралізованого морпіха, який приєднується до</p>
    <p>програми "Аватар" на планеті Пандора. Він закохується в місцеву жительку Нейтірі та</p>
    <p>бореться за збереження її народу від людської колонізації. Фільм відомий</p>
    <p>революційними 3D-ефектами та екологічними темами.</p>
    <p></p>
    <a href="{{ url_for('home')}}">home</a>
</body>
</html>