<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <style>
        body { font-family: Arial; text-align: center; }
        a { padding: 10px; background: #007BFF; color: white; text-decoration: none; margin: 10px; }
        a:hover { background: #0056b3; }
    </style>
</head>
<body>
    <h1>топ 5 найпопулярніших фільмів</h1>
    <ul>
        <li><a href="{{ url_for('film_profile', id=0) }}">Avatar</a></li>
        <p></p>
        <li><a href="{{ url_for('film_profile', id=1) }}">Avengers: Endgame</a></li>
        <p></p>
        <li><a href="{{ url_for('film_profile', id=2) }}">Avatar: The Way of Water</a></li>
        <p></p>
        <li><a href="{{ url_for('film_profile', id=3) }}">Titanic</a></li>
        <p></p>
        <li><a href="{{ url_for('film_profile', id=4) }}">Star Wars: The Force Awakens</a></li>
    </ul>
</body>
</html>